
		body {
			margin: 0;
			padding: 0;  
			font-size: 3px;
		}
		
		div, section, article, header, footer {
			box-sizing: border-box;
		} 

		img {
			margin:0;
			padding:0;
		}
		
		a   {  
			text-decoration: none;
		}

		ul,  li {
			margin: 0;
			padding:0;
			list-style: none;
		}

		table {
			border-collapse: collapse;
		}

		input [type="radio"] {
			display: none;
		}

		video::-internal-media-controls-download-button {
	    		display:none;
		}

		video::-webkit-media-controls-enclosure {
		    	overflow:hidden;
		}

		video::-webkit-media-controls-panel {
		    	/*width: calc(100% + 30px);  */
		    	width: 100%;
		}

		#headerbar {
		          width: 100%;
		          height: 45px;
		          padding: 0px 2% 0px 2%;   
		          position: fixed;
		          top: 0;
		          left: 0;
		          z-index: 999;
		          background-color: #ffffff;
		          opacity: 1;
		} 
  		
  		.sbslogo {
			width: 45px;
			height: 45px;
			margin-right: 12px; 
		}

		.mabulogo {
		            width: 55px;
		            height: 36px;   
		            left: 10px;
		            padding-bottom: 14px;
		}
 
		#teamname {
		            font-size: 1.2em;
		            color:#fff;
		            margin: 0px 0px 100px 0px;
		            font-weight: 500;
		            text-align: left;  
		}

		.social {
		 	width: 45px;
		 	height: 45px;   
		 	float: right;
		 	cursor: pointer;
		}
		 
		#footerbar { 
		            width: 100%;
		            height: auto;
		            padding: 60px 0%;
		            float: left;
		            z-index: 999;
		} 
		
		#footerbar p {
			letter-spacing: -1px;
			/*font-family: sans-serif;*/
		}

		#fteamname {
			font-size: 15px;
			color:#1E2D2F;
			font-weight: 700;
			margin: 5px 0px 0px 0px;
			text-align: left; 
			letter-spacing: -0.02em;
			/*font-family: sans-serif;*/
		}

		.credit {
			font-size: 15px;
			letter-spacing: -0.02em;
			font-weight: 350;
			color: #4C4C47;
			margin: 0px 0px 0px 0px;
			text-align: left; 
			line-height: 1.5rem;
			/*font-family: sans-serif;*/
		}


	@media screen and (max-width: 639px) {

		#headerbar {
		            width: 100%;
		            height: 50px;         
		            padding: 5px 0%; 
		}

		#teamname {
		            font-size: 0.9em;
		            color:#fff; 
		            font-weight: 600;
		            text-align: left;
		            float: left;
		            margin:0;
		}

		 .mabulogo {
		            width: 55px;
		            height: 37px;  
		            float: left;   
		            position: absolute;
		            top: 12px; 
		            left:  42%;
		}

		.sbslogo {
			width: 40px;
			height: 40px;
			margin-right: 10px;  
		}
 
		#footerbar { 
			width: 100%;
			height: auto;
			padding: 10px 4%;
			background-color:none; 
			float: left;
			z-index: 10;
		}
		    
		#fteamname {
			font-size:16px;
			color:#4C4C47;
			font-weight: 500;
			margin:5px 0px 0px 0px;
			text-align: left; 
			letter-spacing: 0px;
			width:90%; 
		}

		.credit {
			font-size: 14px;
			color:#4C4C47;
			font-weight: 300;
			margin:5px 0px 0px 0px;
			text-align: left; 
			letter-spacing: 0px;
			width:90%; 
		}
		 
		  #headerbar .social {
		 	width: 40px;
		 	height: 40px; 
		 	float: right;
		 	cursor: pointer;
		 }
	}